$(".progress-bar").css("width", "100%");
$("#step3").replaceWith( ' <%=j image_tag("step2_down.png" , class: "prog" , style:"position:absolute;height:60%;top:20%;left:45%;" )  %> ' ) ; 
$(".modal-body").html( '<h4>Book has been uploaded</h4>' ) ;
$(".modal-footer").html( '<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>' ) ;


