<div class="form-group has-error has-feedback">
  <%= label(:password ,  "password" , class: "control-label") %>
	<%= password_field(:password  , "password" , id: "inputError2" ,class: "form-control tip-top") %>
  <span class="glyphicon glyphicon-remove form-control-feedback"></span>
</div>