#up_form
{
  display:none ;
}
#step2_submit
{
  display:none ;
}
@font-face
 {
     font-family: myFirstFont;
     src: url('/assets/segoeui.ttf');
 }
 @font-face
 {
     font-family: myFirstFont;
     src: url('/assets/segoeui.ttf');
 }
body
{ color:white;
  font-family: myFirstFont; 
}
#tgs li a
{
 color:white; 
 
}
#tgs li a
{
 #tgs li 
{
 #tgs li a
{
 padding: 10px auto 10px auto;
 
}
} 
 
}
